{
    "environment" : {
        "root.dir" : "../..",
        "temp.dir" : "./tmp"
    },
    "commands" :
    {
        "job" :     "org.zero0.singularity.task.JobTask",
        "copy" :    "org.zero0.singularity.task.CopyTask",
        "mkdir" :   "org.zero0.singularity.task.MakeDirTask",
        "echo" :    "org.zero0.singularity.task.EchoTask",
        "pushenv" : "org.zero0.singularity.task.PushEnvironmentTask",
        "popenv" :  "org.zero0.singularity.task.PopEnvironmentTask",
        "proc" :    "org.zero0.singularity.task.ProcTask",
        "archive" : "org.zero0.singularity.task.ArchiveTask"
    }
}
