{
    "environment" : {
        "root.dir" : "../..",
        "temp.dir" : "./tmp"
    },
    "commands" :
    {
        "copy" : "org.zero0.singularity.cmd.CopyCommand",
        "mkdir" : "org.zero0.singularity.cmd.MakeDirCommand",
        "echo" : "org.zero0.singularity.cmd.EchoCommand",
        "pushenv" : "org.zero0.singularity.cmd.PushEnvironmentCommand",
        "popenv" : "org.zero0.singularity.cmd.PopEnvironmentCommand"
    }
}