{
    "name" : "Blackjack",
    "description" : "",
    "environment" :
    {
        "project.name" : "Blackjack",
        "project.mode" : "Debug",
        "platform.arch" : "x86",
        "platform.rendering" : "DX11",
        "asset.src.dir" : "${root.dir}/${project.name}/Bin/Assets",
        "asset.dst.dir" : "${root.dir}/${project.name}/Bin/Platform_${platform.arch}"
    }
}